#!/bin/sh

# taken from https://www.feliciano.tech/blog/get-emailed-when-ubuntu-server-needs-reboot/

if [ -f /var/run/reboot-required ]; then
    echo "A reboot is required following updates to {{ hostname }}" | mail -s "{{ hostname }} reboot required" {{ vault_user_email }}
fi
