#-- Destination: specify a fixed directory where all packages will be placed
PKGDEST=/home/{{ aur.builder }}/build/packages

#-- Source cache: specify a fixed directory where source files will be cached
SRCDEST=/home/{{ aur.builder }}/build/sources

#-- Source packages: specify a fixed directory where all src packages will be placed
SRCPKGDEST=/home/{{ aur.builder }}/build/srcpackages

#-- Log files: specify a fixed directory where all log files will be placed
LOGDEST=/home/{{ aur.builder }}/build/makepkglogs

MAKEFLAGS="-j$(nproc)"

#-- Specify a directory for package building.
BUILDDIR=/home/{{ aur.builder }}/build/makepkg

COMPRESSZST=(zstd -c -z -q --threads=0 -)
COMPRESSXZ=(xz -c -z --threads=0 -)
COMPRESSGZ=(pigz -c -f -n)
COMPRESSBZ2=(pbzip2 -c -f)
