PUID="{{ my_remote_user.uid }}"
PGID="{{ my_remote_user.gid }}"
TZ="{{ timezone }}"
SECRETSDIR="{{ dockersecretsdir }}"
APPDATADIR="{{ dockerappdatadir }}"
MEDIADIR="{{ mediadir }}"
DLDIR="{{ dldir }}"
SERVER_IP="{{ lan0.ip }}"
