ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPPjd/u2DRWdXTBSdnCVYBJxql6qKpzgLm0je/SuDWOu lance@office-manjaro-2019-08-08
ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAHp+EsJ35cr1TaFYpmp5DM/7oI437btNrHMV49IQlPSNQ1rV+Y2i8l4MDV+eVvKwIoQXdIq/X52Jca8k8W9vUJJeQA3KdBRm/Ls7HS1K/tFWiYpzB8drlZWzz823WkE/Ml7xjLdqPJWeHeQiWNelg4qyVfq9YflgFAfwLzujm0CnYRgKA== lance@acer-c720
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID7tVx29wJ33kGSjuVVDHR24VE+E6jDmM/+yIxcFrYm2 A13
from="127.0.0.1,{{ lan.base }}.0/24" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOiUnhjMxcu6hmEqXOVvii4Dy1JGX+Ht+xODZLrO2mtG {{ vault_collab_email }}-ANSIBLE_NOPASSWORD
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILpsxK3vAbIkA09O1G7VsQlNpthsg0cZzLYMaidXgWbd Pixel6a
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDujfTyCdNMaAIl1iQF9QbQGWc6W30spw3WFJTuko4FC Sabre15
