[mygoogledrive]
type = drive
scope = drive
token = {"access_token":"ya29.a0Ael9sCMNPWzUj5QSs4_wZ465pN2h1__CCiU8z4yHpvgqoDpC8SxTPuZCmD2jPQ2ShLBOuNgVoXEYnshTsd8KDNUDW51EWND-BCgB7c4F0Nnv8ZTYnkaGUAK6JCxKqm5MN9qIYJO7tLpv3lHQagD0gdzuoPUbhkSu2gaCgYKAeMSARISFQF4udJhuBHZTJQke-Nnh1EhNyWp3Q0169","token_type":"Bearer","refresh_token":"1//0dtQBIjATodbtCgYIARAAGA0SNwF-L9Ir3YgbGjqw4uaIlRz8sSi-5UMguRC_9YD2OWuFrEV-mkkC2lUpDFNrByssK1UsK_Q1Qhs","expiry":"2023-04-11T22:27:27.693064488-04:00"}
team_drive = 
client_id = 1043488017037-klgu2h43ihtai4sc0i31mpqmsrsglgf0.apps.googleusercontent.com
client_secret = {{ vault_google_client_secret }}

[dropbox]
type = dropbox
token = {"access_token":"sl.Bwx3i6EsguczQ5Ic2Mx9UZhSiQZ6eiBZD-CxcZX7494wpr8MxLEDIXva3dMn32FXJ_k6ojs05xq-59FgwdfcqbsKC5cTwLXDlp7E1EPHKBBMiMRKn5osKS8O2mxAyL1IuK0m9PCiRaB0msk","token_type":"bearer","refresh_token":"tI0mhhOMD6MAAAAAAAAAAcg5DfFKoCn8GecSPUrgddz2Hp0mjIL7mVHE62mwSg8o","expiry":"2024-03-04T13:50:55.025599393-05:00"}

[blomp-swift]
type = swift
user = {{ vault_collab_email }}
key = {{ vault_collab_key }}
auth = https://authenticate.blomp.com/v2.0/
auth_version = 2
tenant = storage

[blomp]
type = alias
remote = blomp-swift:{{ vault_collab_email }}

[blomp-encrypted]
type = crypt
remote = blomp-swift:{{ vault_collab_email }}
password = {{ vault_collab_pass }}
password2 = {{ vault_collab_pass2 }}
