        interface={{ lan0.ifname }}
        listen-address=::1,127.0.0.1,{{ lan0.ip }}
        domain-needed      # Never forward plain names (without a dot or domain part)
        bogus-priv         # Never forward addresses in the non-routed address spaces
        strict-order       # Query each server strictly in /etc/resolv.conf order
        no-resolv          # Do not read /etc/resolv.conf or any other file besides this one
        cache-size=1000    # cache 1000 names
        server=1.1.1.1
        server=1.0.0.1
        server=208.67.222.222
        server=208.67.220.220
        bind-interfaces    # This appears to be needed to coexist with systemd-resolved
        #no-hosts           # Do not read /etc/hosts
        addn-hosts=/etc/hosts.dnsmasq
        expand-hosts       # Automatically append domain to simple names in a hosts-file
        domain={{ lan.domain }}
        dhcp-range={{ lan.base }}.100,{{ lan.base }}.199,12h
        dhcp-option=option:netmask,255.255.255.0
        dhcp-option=option:dns-server,{{ lan0.ip }}
        dhcp-option=option:router,{{ lan.base }}.1
        #dhcp-no-override    # Disable re-use of the DHCP servername and filename fields as extra option space
        dhcp-host=e0:3f:49:b3:1e:6a,{{ lan.base }}.2,office
        dhcp-host=84:39:be:68:69:ab,{{ lan.base }}.3,sabre15
        dhcp-host=70:85:c2:51:bF:43,{{ lan.base }}.4,mythbox
        dhcp-host=70:85:c2:d3:e5:fa,{{ lan.base }}.5,taichi
        dhcp-host=3c:22:fb:f0:e7:8e,{{ lan.base }}.6,Calistas-Air
        dhcp-host=b8:27:eb:18:7b:65,{{ lan.base }}.14,rpi3-01
        dhcp-host=9c:7b:ef:a4:9f:89,{{ lan.base }}.19,af
        dhcp-host=ba:96:b6:c0:b9:59,{{ lan.base }}.29,Galaxy-A13
        dhcp-host=02:00:00:00:01:09,{{ lan.base }}.31,archvm
        dhcp-host=02:00:00:00:01:08,{{ lan.base }}.32,netbootisovm
        dhcp-host=02:00:00:00:01:07,{{ lan.base }}.33,pxevm
        dhcp-host=02:00:00:00:01:06,{{ lan.base }}.34,biosvm
        dhcp-host=02:00:00:00:01:05,{{ lan.base }}.35,jammyservervm
        dhcp-host=02:00:00:00:01:04,{{ lan.base }}.36,dualbootvm
        dhcp-host=02:00:00:00:01:03,{{ lan.base }}.37,workvm
        dhcp-host=02:00:00:00:01:01,{{ lan.base }}.38,popos2204vm
        dhcp-host=02:00:00:00:01:02,{{ lan.base }}.39,mint4vm
        dhcp-host=b4:7c:9c:5f:04:a8,{{ lan.base }}.67,amazon-dbba26bae
        dhcp-host=fc:a6:67:ac:54:16,{{ lan.base }}.68,amazon-852d2f3f0
        dhcp-host=08:7c:39:d9:48:08,{{ lan.base }}.69,amazon-a073010e6
        dhcp-host=b8:31:b5:68:d3:b1,{{ lan.base }}.86,xbox1s
        dhcp-host=b8:3e:59:64:f0:c5,{{ lan.base }}.87,Roku3
        dhcp-host=1c:1e:e3:9a:68:fc,{{ lan.base }}.88,TCLRokuTV-214
        dhcp-host=00:18:dd:07:14:24,{{ lan.base }}.89,HDHR-1071424D
        dhcp-host=02:00:00:00:00:00,{{ lan.base }}.94,mythboxtest
