{{ lan.base }}.1    router
{{ lan.base }}.2    qotom
{{ lan.base }}.3    sabre15
{{ lan.base }}.4    mythbox
{{ lan.base }}.5    taichi
{{ lan.base }}.6    calistas-air
{{ lan.base }}.7    office
{{ lan.base }}.8    dan
{{ lan.base }}.9    beelink
{{ lan.base }}.14   rpi3-01
{{ lan.base }}.19   af
{{ lan.base }}.29   galaxy-a13
{{ lan.base }}.31   archvm
{{ lan.base }}.32   netbootisovm
{{ lan.base }}.33   pxevm
{{ lan.base }}.34   biosvm
{{ lan.base }}.35   jammyservervm
{{ lan.base }}.36   dualbootvm
{{ lan.base }}.37   workvm
{{ lan.base }}.38   popos2204vm
{{ lan.base }}.39   mint4vm
{{ lan.base }}.67   amazon-dbba26bae
{{ lan.base }}.68   amazon-852d2f3f0
{{ lan.base }}.69   amazon-a073010e6
{{ lan.base }}.86   xbox1s
{{ lan.base }}.87   roku3
{{ lan.base }}.88   tclrokutv-214
{{ lan.base }}.89   hdhr-1071424d
{{ lan.base }}.94   mythboxtest
